# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!LICENSE
!.gitignore
!.travis.yml
!Dockerfile
!docker-compose.yml
!package.json
!package-lock.json
!.github/workflows/*.yml

!*.html
!*.css
!*.ts
!*.js
!*.json
!*.dockerignore
!*.eslintignore
!*.prettierignore
!*.prettierrc
!*.tsbuildinfo
!*.map


# Blacklist (overrides Whitelist)
**/node_modules/*
