# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!LICENSE
!.gitignore
!.travis.yml
!*/Dockerfile
!*/docker-compose.yml
!*/package.json
!*/package-lock.json
!.github/workflows/*.yml

!*.html
!*.css
!*.config.js
!*.ts
!*.tsx
!*.json
!*.txt
!*.png
!*.dockerignore
!*.eslintignore
!*.prettierignore
!*.prettierrc
!e2e.test.js


# Blacklist (overrides Whitelist)
**/node_modules/*
**/dist/*
dronuts/front-end/src/google_maps_api_credentials.json
**/.vscode/*
