# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!LICENSE
!.gitignore
!.travis.yml
!Dockerfile
!docker-compose.yml
!package.json
!package-lock.json
!.github/workflows/*.yml


# Blacklist (overrides Whitelist)
node_modules/*
